src/main/config/home/data/experimental/xml_ingest/Exported files/Languages1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="language">
		<xsd:complexType>
			<xsd:all>
				<xsd:element ref="key" minOccurs="0" maxOccurs="1"></xsd:element>
				<xsd:element ref="value" minOccurs="0" maxOccurs="1"></xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="languages">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="language" minOccurs="0" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="key" type="xsd:string"></xsd:element>
	<xsd:element name="value" type="xsd:string"></xsd:element>
</xsd:schema>
