src/main/config/home/data/experimental/xml_ingest/Exported files/myschema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://schemas.microsoft.com/office/infopath/2003/myXSD/2011-09-26T07:17:47" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:my="http://schemas.microsoft.com/office/infopath/2003/myXSD/2011-09-26T07:17:47" xmlns:xd="http://schemas.microsoft.com/office/infopath/2003" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RedboxCollection">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Title" minOccurs="0"/>
				<xsd:element ref="my:Type" minOccurs="0"/>
				<xsd:element ref="my:DateCreated" minOccurs="0"/>
				<xsd:element ref="my:DateModified" minOccurs="0"/>
				<xsd:element ref="my:Description" minOccurs="0"/>
				<xsd:element ref="my:Creators" minOccurs="0"/>
				<xsd:element ref="my:PrimaryContact" minOccurs="0"/>
				<xsd:element ref="my:Supervisors" minOccurs="0"/>
				<xsd:element ref="my:Collaborators" minOccurs="0"/>
				<xsd:element ref="my:RelatedPublications" minOccurs="0"/>
				<xsd:element ref="my:RelatedWebsites" minOccurs="0"/>
				<xsd:element ref="my:RelatedData" minOccurs="0"/>
				<xsd:element ref="my:Coverage" minOccurs="0"/>
				<xsd:element ref="my:FORCodes" minOccurs="0"/>
				<xsd:element ref="my:SEOCodes" minOccurs="0"/>
				<xsd:element ref="my:Keywords" minOccurs="0"/>
				<xsd:element ref="my:TypeOfActivity" minOccurs="0"/>
				<xsd:element ref="my:Rights" minOccurs="0"/>
				<xsd:element ref="my:Identifier" minOccurs="0"/>
				<xsd:element ref="my:Location" minOccurs="0"/>
				<xsd:element ref="my:RetentionPeriod" minOccurs="0"/>
				<xsd:element ref="my:Extent" minOccurs="0"/>
				<xsd:element ref="my:DisposalDate" minOccurs="0"/>
				<xsd:element ref="my:DataOwners" minOccurs="0"/>
				<xsd:element ref="my:DataCustodian" minOccurs="0"/>
				<xsd:element ref="my:DataAffiliation" minOccurs="0"/>
				<xsd:element ref="my:FundingBodies" minOccurs="0"/>
				<xsd:element ref="my:GrantNumbers" minOccurs="0"/>
				<xsd:element ref="my:ProjectTitle" minOccurs="0"/>
				<xsd:element ref="my:Depositor" minOccurs="0"/>
				<xsd:element ref="my:DataSize" minOccurs="0"/>
				<xsd:element ref="my:DataManagementPolicy" minOccurs="0"/>
				<xsd:element ref="my:DataManagementPlan" minOccurs="0"/>
				<xsd:element ref="my:SubmissionDetails" minOccurs="0"/>
				<xsd:element ref="my:Language" minOccurs="0"/>
			</xsd:sequence>
			<xsd:anyAttribute processContents="lax" namespace="http://www.w3.org/XML/1998/namespace"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Title" type="my:requiredString"/>
	<xsd:element name="Type" type="my:requiredString"/>
	<xsd:element name="DateCreated" type="xsd:date"/>
	<xsd:element name="DateModified" nillable="true" type="xsd:date"/>
	<xsd:element name="Description" type="my:requiredString"/>
	<xsd:element name="Creators">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Creator" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Creator">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:CreatorTitle" minOccurs="0"/>
				<xsd:element ref="my:CreatorGiven" minOccurs="0"/>
				<xsd:element ref="my:CreatorFamily" minOccurs="0"/>
				<xsd:element ref="my:CreatorID" minOccurs="0"/>
				<xsd:element ref="my:CreatorAffiliation" minOccurs="0"/>
				<xsd:element ref="my:CreatorAffiliationID" minOccurs="0"/>
				<xsd:element ref="my:CreatorPI" minOccurs="0"/>
				<xsd:element ref="my:CreatorCI" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CreatorTitle" type="xsd:string"/>
	<xsd:element name="CreatorGiven" type="xsd:string"/>
	<xsd:element name="CreatorFamily" type="xsd:string"/>
	<xsd:element name="CreatorID" type="xsd:string"/>
	<xsd:element name="CreatorAffiliation" type="xsd:string"/>
	<xsd:element name="CreatorAffiliationID" type="xsd:string"/>
	<xsd:element name="CreatorPI" nillable="true" type="xsd:boolean"/>
	<xsd:element name="CreatorCI" nillable="true" type="xsd:boolean"/>
	<xsd:element name="PrimaryContact">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:PrimaryContactFirstName" minOccurs="0"/>
				<xsd:element ref="my:PrimaryContactFamilyName" minOccurs="0"/>
				<xsd:element ref="my:PrimaryContactEmail" minOccurs="0"/>
				<xsd:element ref="my:PrimaryContactTitle" minOccurs="0"/>
				<xsd:element ref="my:PrimaryContactID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PrimaryContactFirstName" type="xsd:string"/>
	<xsd:element name="PrimaryContactFamilyName" type="xsd:string"/>
	<xsd:element name="PrimaryContactEmail" type="xsd:string"/>
	<xsd:element name="PrimaryContactTitle" type="xsd:string"/>
	<xsd:element name="PrimaryContactID" type="xsd:string"/>
	<xsd:element name="Supervisors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Supervisor" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Supervisor">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SupervisorTitle" minOccurs="0"/>
				<xsd:element ref="my:SupervisorFirstName" minOccurs="0"/>
				<xsd:element ref="my:SupervisorFamilyName" minOccurs="0"/>
				<xsd:element ref="my:SupervisorID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SupervisorTitle" type="xsd:string"/>
	<xsd:element name="SupervisorFirstName" type="xsd:string"/>
	<xsd:element name="SupervisorFamilyName" type="xsd:string"/>
	<xsd:element name="SupervisorID" type="xsd:string"/>
	<xsd:element name="Collaborators">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Collaborator" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Collaborator">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:CollaboratorName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="CollaboratorName" type="xsd:string"/>
	<xsd:element name="RelatedPublications">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:relatedPublication" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="relatedPublication">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RelatedPublicationURL" minOccurs="0"/>
				<xsd:element ref="my:RelatedPublicationTitle" minOccurs="0"/>
				<xsd:element ref="my:RelatedPublicationNotes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedPublicationURL" type="xsd:anyURI"/>
	<xsd:element name="RelatedPublicationTitle" type="xsd:string"/>
	<xsd:element name="RelatedPublicationNotes" type="xsd:string"/>
	<xsd:element name="RelatedWebsites">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RelatedWebsite" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedWebsite">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RelatedWebsiteURL" minOccurs="0"/>
				<xsd:element ref="my:RelatedWebsiteTitle" minOccurs="0"/>
				<xsd:element ref="my:RelatedWebsiteNotes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedWebsiteURL" type="xsd:anyURI"/>
	<xsd:element name="RelatedWebsiteTitle" type="xsd:string"/>
	<xsd:element name="RelatedWebsiteNotes" type="xsd:string"/>
	<xsd:element name="RelatedData">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RelatedDataItem" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedDataItem">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RelatedDataItemRelationship" minOccurs="0"/>
				<xsd:element ref="my:RelatedDataItemURL" minOccurs="0"/>
				<xsd:element ref="my:RelatedDataItemTitle" minOccurs="0"/>
				<xsd:element ref="my:RelatedDataItemNotes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RelatedDataItemRelationship" type="xsd:string"/>
	<xsd:element name="RelatedDataItemURL" type="xsd:string"/>
	<xsd:element name="RelatedDataItemTitle" type="xsd:string"/>
	<xsd:element name="RelatedDataItemNotes" type="xsd:string"/>
	<xsd:element name="Coverage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DateFrom" minOccurs="0"/>
				<xsd:element ref="my:DateTo" minOccurs="0"/>
				<xsd:element ref="my:TimePeriod" minOccurs="0"/>
				<xsd:element ref="my:GeospatialLocations" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DateFrom" nillable="true" type="xsd:date"/>
	<xsd:element name="DateTo" nillable="true" type="xsd:date"/>
	<xsd:element name="TimePeriod" type="xsd:string"/>
	<xsd:element name="GeospatialLocations">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GeospatialLocation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeospatialLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GeospatialLocationType" minOccurs="0"/>
				<xsd:element ref="my:GeospatialLocationValue" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GeospatialLocationType" type="xsd:string"/>
	<xsd:element name="GeospatialLocationValue" type="xsd:string"/>
	<xsd:element name="FORCodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:FORCode" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FORCode">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:FORCodeValue" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FORCodeValue" type="xsd:string"/>
	<xsd:element name="SEOCodes">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SEOCode" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SEOCode">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:SEOCodeValue" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SEOCodeValue" type="xsd:string"/>
	<xsd:element name="Keywords">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:Keyword" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Keyword">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:KeywordValue" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="KeywordValue" type="xsd:string"/>
	<xsd:element name="TypeOfActivity" type="xsd:string"/>
	<xsd:element name="Rights">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:RightsAccess" minOccurs="0"/>
				<xsd:element ref="my:RightsStatement" minOccurs="0"/>
				<xsd:element ref="my:RightsCCLicence" minOccurs="0"/>
				<xsd:element ref="my:RightsOtherName" minOccurs="0"/>
				<xsd:element ref="my:RightsOtherURL" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="RightsAccess" type="xsd:string"/>
	<xsd:element name="RightsStatement" type="xsd:string"/>
	<xsd:element name="RightsCCLicence" type="xsd:string"/>
	<xsd:element name="RightsOtherName" type="xsd:string"/>
	<xsd:element name="RightsOtherURL" type="xsd:anyURI"/>
	<xsd:element name="Identifier">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:IdentifierType" minOccurs="0"/>
				<xsd:element ref="my:IdentifierValue" minOccurs="0"/>
				<xsd:element ref="my:IdentifierUseMetadataID" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IdentifierType" type="xsd:string"/>
	<xsd:element name="IdentifierValue" type="xsd:string"/>
	<xsd:element name="IdentifierUseMetadataID" nillable="true" type="xsd:boolean"/>
	<xsd:element name="Location">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:LocationURLs" minOccurs="0"/>
				<xsd:element ref="my:LocationStoredAt" minOccurs="0"/>
				<xsd:element ref="my:LocationNotes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LocationURLs">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:LocationURL" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LocationURL">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:LocationURLValue" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LocationURLValue" type="xsd:anyURI"/>
	<xsd:element name="LocationStoredAt" type="xsd:string"/>
	<xsd:element name="LocationNotes" type="xsd:string"/>
	<xsd:element name="RetentionPeriod" type="xsd:string"/>
	<xsd:element name="Extent" type="xsd:string"/>
	<xsd:element name="DisposalDate" nillable="true" type="xsd:date"/>
	<xsd:element name="DataOwners">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DataOwner" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataOwner">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DataOwnerName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataOwnerName" type="xsd:string"/>
	<xsd:element name="DataCustodian" type="xsd:string"/>
	<xsd:element name="DataAffiliation" type="xsd:string"/>
	<xsd:element name="FundingBodies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:FundingBody" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FundingBody">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:FundingBodyName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FundingBodyName" type="xsd:string"/>
	<xsd:element name="GrantNumbers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GrantNumber" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrantNumber">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:GrantNumberInternal" minOccurs="0"/>
				<xsd:element ref="my:GrantNumberID" minOccurs="0"/>
				<xsd:element ref="my:GrantNumberDescription" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrantNumberInternal" nillable="true" type="xsd:boolean"/>
	<xsd:element name="GrantNumberID" type="xsd:string"/>
	<xsd:element name="GrantNumberDescription" type="xsd:string"/>
	<xsd:element name="ProjectTitle" type="xsd:string"/>
	<xsd:element name="Depositor" type="xsd:string"/>
	<xsd:element name="DataSize" type="xsd:string"/>
	<xsd:element name="DataManagementPolicy" type="xsd:string"/>
	<xsd:element name="DataManagementPlan">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:DataManagementPlanExists" minOccurs="0"/>
				<xsd:element ref="my:DataManagementPlanNotes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DataManagementPlanExists" nillable="true" type="xsd:boolean"/>
	<xsd:element name="DataManagementPlanNotes" type="xsd:string"/>
	<xsd:element name="SubmissionDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="my:WorkflowSource" minOccurs="0"/>
				<xsd:element ref="my:ContactPersonName" minOccurs="0"/>
				<xsd:element ref="my:ContactPersonEmail" minOccurs="0"/>
				<xsd:element ref="my:ContactPersonPhone" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="WorkflowSource" type="xsd:string"/>
	<xsd:element name="ContactPersonName" type="xsd:string"/>
	<xsd:element name="ContactPersonEmail" type="xsd:string"/>
	<xsd:element name="ContactPersonPhone" type="xsd:string"/>
	<xsd:element name="Language" type="xsd:string"/>
	<xsd:simpleType name="requiredString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="requiredAnyURI">
		<xsd:restriction base="xsd:anyURI">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="requiredBase64Binary">
		<xsd:restriction base="xsd:base64Binary">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>